<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <%- messages() %>
      <% if (errors) { %>
        <ul class="notice">
          <% errors?.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <form class="form" action="/account/login" method="post">
            <label>
              Email: <input type="email" name="account_email" placeholder="example@example.com" required
                value="<%= locals.account_email %>" />
            </label>
            <label>
              Password: <input type="password" name="account_password" placeholder="Insert your password here" required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" />
            </label>
            <button type="submit">Login</button>
            <p id="password-rules">Password must be minimum of 12 characters and include 1 capital letter, 1 number, and
              1 special character.</p>
            <p id="no-account">No account? <a href="/account/register">Sign-up</a></p>
          </form>