<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.accountData) { %>
      <p><a href="/account">Welcome, <span>
            <%= locals.accountData.account_firstname %>
          </span></a></p>
      <form action="/account/logout" method="post"><button class="header-account-link"
          title="Click to log out">Logout</button></form>
      <% } else { %>
        <a title="Click to log in" href="/account/login">My Account</a>
        <% } %>
  </div>
</header>