<h1>Welcome to CSE Motors!</h1>

<section class="hero">
    <div class="info">
        <h2>DMC Delorean</h2>
        <ul>
            <li>
                3 Cup holders
            </li>
            <li>
                Supermand doors
            </li>
            <li>
                Fuzzy dice
            </li>
        </ul>
        <button>Own Today</button>
    </div>
    <img src="images/vehicles/delorean.jpg" alt="">
</section>

<section class="info__part">
    <div class="upgrade__container">
        <h2>Delorean Upgrade</h2>
        <div class="grid__upgrades">
            <a class="upgrade" href="#">
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <span>Flux Capacitor</span>
            </a>
            <a class="upgrade" href="#">
                <img src="images/upgrades/flame.jpg" alt="Flame">
                <span>Flame Decals</span>
            </a>
            <a class="upgrade" href="#">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <span>Bumper Sticker</span>
            </a>
            <a class="upgrade" href="#">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <span>Hub Caps</span>
            </a>
        </div>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So Fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride of the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>