:root {
  --primary-color: #242333;
  --secondary-color: #1a7587;
  --small-font-size: 0.875rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

#wrapper {
  padding: 0.7rem;
}

h1 {
  grid-column: 1/3;
  margin: 1rem 0 0.5rem 0;
}

h2 {
  font-size: var(--medium-font-size);
  margin: 0.5rem 0 1rem 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

input:invalid,
textarea:invalid {
  background-color: pink;
}

input:valid,
textarea:valid {
  background-color: #b9edb996;
}

.siteName {
  font-size: var(--large-font-size);
  font-weight: 600;
}

#tools {
  font-size: var(--small-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#tools span {
  font-weight: 600;
}

.header-account-link {
  padding: 8px 10px;
  background-color: #1a7587;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

/* Navigation */
nav {
  height: 50px;
}

nav ul {
  height: 100%;
  list-style: none;
  display: flex;
}

nav li {
  width: 100%;
  height: 100%;
}

nav a {
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

nav a:hover {
  background-color: var(--secondary-color);
}

/* Intro */
#intro {
  position: relative;
  margin-bottom: 1rem;
}

#intro > img {
  mix-blend-mode: multiply;
  width: 90%;
  margin: auto;
  display: block;
}

#car-promo {
  position: absolute;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255, 0.9);
  top: 2rem;
}

#car-promo > p {
  color: var(--secondary-color);
}

#car-promo > p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}

#car-promo button {
  background-color: var(--secondary-color);
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  color: white;
}

#car-promo img {
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
}

/* Reviews */
#reviews {
  margin-bottom: 1rem;
}

#reviews ul {
  padding-left: 1rem;
}

#reviews ul li {
  margin-bottom: 0.8rem;
}

/* Upgrades */
#upgrades {
  margin-bottom: 1rem;
}

#upgrades-cards-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#upgrades-cards-container div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upgrades-cards-container img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100px;
  padding: 15px 0;
  object-fit: contain;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}

/* Types */
#inv-display {
  margin: auto;
  grid-column: 1/3;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#inv-display li {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto;
  overflow: hidden;
  width: 240px;
}

#inv-display > li > a {
  grid-column: 1/2;
  display: flex;
  align-items: start;
  grid-row: 1/2;
}

#inv-display > li > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

#inv-display hr {
  border: 2px solid black;
}

.namePrice {
  text-align: center;
  padding-bottom: 1rem;
}

.namePrice h2 {
  padding: 0 1rem;
}

.namePrice h2 a {
  font-size: 1.25rem;
}

.namePrice span {
  padding: 0 1rem;
}

/* Item Details */
#item-image {
  width: 100%;
  object-fit: contain;
  height: auto;
  border-radius: 5px;
}

#item-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0 0.5rem;
}

#item-details > p:nth-child(2) {
  font-weight: 600;
}

#item-details > p > span {
  font-weight: 600;
}

#detail-subtitle {
  margin: 1rem 0 0 0;
}

/* Error Page */
#error-message {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/site/crashed_car.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
}

/* Footer */
footer {
  margin-top: 2.5rem;
  font-size: var(--small-font-size);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Login Form */
.form {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 25px;
  border-radius: 5px;
  margin: auto;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.form input,
.form select,
.form textarea {
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  color: black;
}

.form input:focus {
  outline: none;
}

.form button {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
}

#password-rules {
  color: white;
  text-align: center;
}

#no-account {
  color: white;
  text-align: center;
  font-size: var(--small-font-size);
}

#no-account a {
  color: white;
}

/* Register Form */
.required-message {
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

/* Messages */
#messages {
  margin-bottom: 1rem;
}

.notice {
  padding-left: 22px;
  margin-bottom: 15px;
  font-weight: 500;
}

.notice li {
  color: red;
}

/* Inventory Menu */
#inventory-menu {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 20px;
}

#p-management {
  margin-bottom: 15px;
}

#classification-rules {
  color: white;
  text-transform: uppercase;
}

#classificationList {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

#inventoryDisplay {
  border-collapse: collapse;
  width: 100%;
}

#inventoryDisplay td,
#inventoryDisplay th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inventoryDisplay tr:nth-child(even) {
  background-color: #f2f2f2;
}

#inventoryDisplay tr:hover {
  background-color: #ddd;
}

#inventoryDisplay th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.form #classificationList {
  margin-bottom: 0;
  padding: 0.5rem;
}

#updateForm button[disabled] {
  background-color: slategray;
  color: white;
}

#welcomeManagement {
  margin-top: 20px;
  margin-bottom: 10px;
}

#inventorySubtitle {
  margin-top: 25px;
  margin-bottom: 10px;
}

#editAccountLink {
  margin-top: 10px;
}

.managementP {
  margin-bottom: 10px;
}

/* Pending View */
.tableContainer {
  overflow-y: auto;
  padding-bottom: 20px;
  grid-column: 1 / 3;
}

.tableData {
  width: 100%;
  border-collapse: collapse;
  grid-column: 1 / 3;
}

.tableData th,
.tableData td {
  padding: 10px;
}

.tableData th {
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
}

.tableData td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.tableData tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tableData tr:hover td {
  background-color: #f1f1f1;
}

.tableData img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.tableData td img {
  display: block;
  margin: 0 auto;
}

.tableData th:first-child,
.tableData td:first-child {
  border-left: 1px solid var(--secondary-color);
}

.tableData th:last-child,
.tableData td:last-child {
  border-right: 1px solid var(--secondary-color);
}

.tableData th,
.tableData td {
  text-align: center;
}

.tableData tr:last-child td {
  border-bottom: 1px solid var(--secondary-color);
}

.tableData caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  transform: scale(1.1);
}

.btn:focus {
  outline: none;
}

.btnApprove {
  color: #4caf50;
}

.btnReject {
  color: #f44336;
}

.btnApprove:disabled {
  color: #b2b2b2;
}

.btnReject:disabled {
  color: #b2b2b2;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 25px;
  width: 90%;
  max-width: 550px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-image {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
  margin: 20px auto;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.modal-content p:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav {
    height: 40px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
  }

  h1 {
    font-size: var(--large-font-size);
    margin: 1rem 0 -15px 0;
  }

  #welcome-title {
    margin-top: 1.2rem;
  }

  #wrapper {
    max-width: 750px;
    margin: 20px auto;
    position: relative;
    z-index: 20;
    background-color: white;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
  }

  #intro {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-bottom: 0;
  }

  #intro > img {
    width: 75%;
  }

  #car-promo {
    top: 45%;
    left: 10%;
    display: flex;
    flex-direction: column;
  }

  #car-promo button {
    margin-top: 1rem;
    align-self: center;
  }

  #upgrades {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
  }

  #reviews {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  /* Item Details */
  #item-image {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }

  #item-details {
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 1rem;
  }

  #detail-subtitle {
    margin: 0;
  }

  #error-message {
    grid-column: 1/3;
    font-size: var(--medium-font-size);
  }

  .form {
    grid-column: 1/3;
    width: 60%;
    max-width: 550px;
  }

  #messages {
    margin: 0;
    grid-column: 1 / 3;
    padding-left: 16px;
  }

  .notice {
    margin: 0;
    grid-column: 1 / 3;
  }

  #inventory-menu {
    grid-column: 1 / 3;
  }

  #p-management {
    grid-column: 1/3;
    margin-bottom: -20px;
  }

  #h2-management {
    grid-column: 1/3;
    margin-bottom: -20px;
  }

  #classificationList {
    grid-column: 1/2;
    margin-bottom: -15px;
  }

  #inventoryDisplay {
    grid-column: 1/3;
  }

  #welcomeManagement {
    margin-top: 5px;
    margin-bottom: -20px;
    grid-column: 1 / 3;
  }

  #inventorySubtitle {
    margin-top: 0;
    margin-bottom: -20px;
    grid-column: 1 / 3;
  }

  #editAccountLink {
    margin-top: -20px;
    grid-column: 1 / 3;
  }

  .managementP {
    grid-column: 1 / 3;
    margin-bottom: -20px;
  }

  .h2Pending {
    margin-bottom: -20px;
  }

  .h2Pending.last {
    margin-top: -10px;
  }
}

@media (min-width: 1024px) {
  #wrapper {
    max-width: 900px;
  }
}
