<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors?.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form class="form" action="/inv/classification/add" method="post">
                        <span class="required-message">* Field is required</span>
                        <p id="classification-rules">Name must be aphabetic characters only.</p>
                        <label>
                            Classification Name: <input type="text" name="classification_name" required
                                value="<%= locals.classification_name %>" pattern="[A-Za-z]+"
                                title="Only alphabetic characters with no spaces." />
                        </label>
                        <button type="submit">Add</button>
                        </form>